<h>Listing articles</h>
<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
    </tr>
    <% @articles.each do |articles| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
    
    <% end %>
</table>